- var CDN = '//cdnjs.cloudflare.com/ajax/libs/'

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="stylesheet" href=CDN + "normalize/3.0.3/normalize.css")
    link(rel="stylesheet" href="../styl/styl.css")
    link(rel="stylesheet" href="../sass/sass.css")
    link(rel="stylesheet" href="../scss/scss.css")
    script(src=CDN + "jquery/2.1.4/jquery.min.js")
    script(src=CDN + "angular.js/1.4.3/angular.min.js")
    script(src=CDN + "vue/0.12.9/vue.min.js")
    title CleanSlate
    block head
  body
    block body
    script(src="../coffee/coffee.js" charset="utf-8")
    script(src="//localhost:35729/livereload.js")
